.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
   

  }
#click{
    display: none;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical 
  }
::selection{
      background-color: #338FFF !important;
      color: #fff !important;
  }
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    text-align: center;
    height: 60;
    width: 60;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
body, div, a, p{
  background-color: greenyellow;
  user-select: text !important;
}
  /* Change background color of buttons on hover */
.tab button:hover {
      color: blue;
    background-color: #ddd;
  }
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  
  }
#user_name{
  width: 60%;
}
#country{
  width: 60%;
}
#email_id{
  padding: 12px;
  width: 60%;
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  border-color: #ccc;
  box-shadow: none;
  margin-top: 4px;
  outline: none;
}
input[type=submit]:hover {
    background-color: #45a049;

  }
span{
  margin-top: -5px;
}

#subject{
  width: 60%;

}  
.gallery_admin,.gallery{
 text-align: center; 
 font-size: 60px;
 margin-top: 5px;
}
.contact{
  text-align: center; 
  font-size: 40px;
  }
  .formcontainer{
    width: 100%;
    background-color: honeydew;
  }  
 
.add{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.edit{
  background-color: #008CBA;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}
.delete{
  background-color: #f44000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;

  cursor: pointer;
}
.footcontainer{
  padding: 5px;
  padding-bottom: 5px;
  width: 100%;
  background-color: honeydew;
  height: fit-content;
  border-radius: 5px;
  margin-bottom: 0px;
}
.container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  }
.imagebox{
      background-color: rgba(255, 255, 255, 0.8);
      margin: 10px 10px;
      padding: 20px 20px;
  
  }
  img{
      width: 310px;
      height: 250px;
  }
  .header_image{
    width: 100px;
    height: 85px;
  }
